name: Rust Release

on:
  push:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write # REQUIRED to create releases & tags

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: cargo build --release

      - name: Run tests
        run: cargo test

      # Generate a unique tag
      - name: Set tag name
        id: tag
        run: |
          echo "TAG=v$(date +'%Y.%m.%d').${{ github.run_number }}" >> $GITHUB_OUTPUT

      # Create GitHub Release
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.TAG }}
          name: Release ${{ steps.tag.outputs.TAG }}
          body: |
            Automated release from commit:
            ${{ github.sha }}
          files: |
            target/release/*
